@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    height:10vh;
    width: 100%;
    margin:0;
    top:0;
    position: fixed;
    background: #f7f7f7 ;
    letter-spacing: 3px;

    box-shadow: 0 4px 2px -2px rgb(199, 198, 198);

}

.burger {

}

.line {

}



.nav-links {
    margin: 0;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content:center;
    align-items: center;
}

.nav-links li {
    margin: 0px 20px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(63, 63, 63);
    transition: .5s;
}

.nav-links li a:hover {
    color: rgb(145, 145, 145);

}

@media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background:  rgb(0, 0, 0);
      margin: 5px;
    }
    nav {
      position: fixed;
    }

    .burger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }

    .nav-links {
      position: fixed;
      align-items: center;
      background: rgb(116, 41, 53);
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -15%);
      -webkit-clip-path: circle(100px at 90% -15%);
      transition: all 1s ease-out;
      pointer-events: none;

    }
    .nav-links.open {
      clip-path: circle(2000px at 90% -10%);
      -webkit-clip-path: circle(2000px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {

      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }

    li.fade {
      opacity: 1;
    }
  }

  .nav-links .current {
    border-bottom: solid rgb(221, 203, 203) 3px;
    color: pink;
    transition: 1s;
  }


  /* end of nav*/

  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

  .previews-container {
    background:;
    width: 80%;
    margin:13vh auto;
  }

  .tiles {
    display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 8.5vw);
  grid-gap: 1rem;


  }

  .tile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display:block;
    overflow: hidden;

  }

  .tile {
    background: blue;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
    transition: all 0.3s ease-out;
    cursor: pointer;

  }

  .test {
    width: 100%;
    height: 100%;
  }

  .tile-1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .tile-2 {
    grid-column-start: 5;
    grid-column-end:7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .tile-3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .tile-4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;

  }
  .tile-5 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .tile-6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .tile-7 {
    grid-column-start: 4;
    grid-column-end:6;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .tile-8 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
  }



  .tile-img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-size: cover;

  }

  .tile h3 {
    font-size: 1.5rem;
  }

  .tile p {
    font-family: 'Times New Roman', Times, serif;
  }

  .read-time {
    margin-top:5px;
    width: 30%;
    margin-left: auto;
  }

  .read-time p {
    margin-right: 50px;
  }


  /* footer */

  .footer {
    background: ;
    height: 20vh;
    border-top: solid 1px rgb(199, 198, 198);
    box-shadow: 0 4px 2px -2px rgb(199, 198, 198);
  }

  .subscribe {
    text-align: center;
    margin: 10px 0px 100px 0px;

  }

  .subscribe h2 {
    padding: 30px;
  }

  .social {
    text-align: center;
  height: 50px;
  margin-bottom: 0px;

  }

  .social img {
    width: auto;
    height: 100%;
    object-fit: cover;
    margin: 10px 5px;
  }
