@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eefbfb;
    font-family: 'Poppins', sans-serif;

    color: #12232e;
}

/*Hamburger*/
#navbar {
  z-index: 1;
  height:8vh;
  width: 100%;
  margin:0;
  top:0;
  position: fixed;
  letter-spacing: 3px;
  box-shadow: 0 3px 2px -2px rgb(199, 198, 198);
  background-color: #f7f7f7; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #203647 ,#007cc7);

}

.nav-links {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: center;
  align-items: center;


}

.nav-links li {
  margin:0px 15px
}

.nav-links li a {
  color: #eefbfb;
  text-decoration: none;
  font-size: 16px;
  padding:0px 10px 5px 10px;
  border-bottom: 3px solid transparent;


}

.nav-links li a:hover {
  color: rgb(173, 173, 173);
  transition: .25s;

}



@media screen and (max-width: 868px) {
  .line {
    width: 30px;
    height: 3px;
    background:  #eefbfb;
    margin: 5px;
  }
  nav {
    position: fixed;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    align-items: center;
    background:  #203647;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease-out;
    pointer-events: none;
    clip-path: circle(100px at 5% -15%);
    -webkit-clip-path: circle(100px at 5% -15%);
  }
  .nav-links.open {
    clip-path: circle(2000px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% 10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
    margin: 2rem 0rem;
  }
  .nav-links li a {

    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}

.nav-links .current {
  border-bottom: solid #eefbfb 1px;
  transition: .25s;
}


.social-links {
  height: 8vh;
  top: 0px;
  right: 20px;
  display:flex;
  justify-content:center;
  align-items: center;
  position: fixed;

}

.social-links img {
  margin: 0px 10px;
  width: 50%;
  height:auto;
  object-fit: cover;
}

.social-links img:hover {
  opacity: .7;
  transition: .25s
}

.logo {
  height: 8vh;
  top: 0px;
  left: 100px;
  display:flex;
  justify-content:center;
  align-items: center;
  position: fixed;
}

.logo a img {
  margin: 0px 10px;
  width: 50px;
  height:auto;
  object-fit: cover;
}

@media screen and (max-width: 924px) {
  .logo {
    display:none;
  }
}


/*Hamburger*/

  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

  .previews-container {
    width: 80%;
    margin:10vh auto 02vh auto;
  }

  .tiles {
    display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 9vw);
  grid-gap: 1rem;


  }

  .tile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
    transition: all 0.3s ease-out;
    cursor: pointer;
    padding:15px;
    background-color: #eefbfb;
    box-shadow: 0 2px 20px rgba(218, 214, 214, 0.911), 0 1px 1px rgb(170, 170, 170);

  }

  .tile a {
    text-decoration: none;
    color: black;

  }


  .tile img {
    object-fit: cover;
    height: 60%;
    width: 100%;
    border-radius:5px;


  }

  .tile h3:hover {
    opacity: .7;
    transition: 0.25s;
  }

  .text-hover-opacity:hover {
    opacity: .7;
    transition: 0.25s;
  }

  .tile-1 img {
    object-fit: cover;
    height: 80%;
    width: 100%;
    border-radius:5px;
  }


  .tile-1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .tile-2 {
    grid-column-start: 6;
    grid-column-end:8;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .tile-3 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .tile-4 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .tile-5 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .tile-6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .tile-7 {
    grid-column-start: 4;
    grid-column-end:7;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .tile-8 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .text-preview {
    font-family: 'Times New Roman', Times, serif;
  }


  .read-time {
    text-align: right;
    margin-top:5px;
    width: 100%;
    margin-left: auto;
    color: rgb(172, 172, 172);
    font-size: 15px;
  }

  .genre {
    font-weight: 900;
    color: #007cc7;
    font-family: 'Poppins', sans-serif;
  }


  @media screen and (max-width: 1850px) {
    .previews-container {
      width: 100%;
      margin:10vh auto;
    }

    .read-time {
      display:none;
    }
  }

  @media screen and (max-width: 1850px) {
    .previews-container {
      width: 100%;
      margin:10vh auto;
    }

    .read-time {
      display:none;
    }
  }

  @media screen and (max-width: 1750px) {
    .tiles {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      grid-gap: 1rem;

    }

    .tiles div {
      flex: 0 45%;
    }

    .text-preview {
      display: none;
    }
    .previews-container {
      margin:10vh auto 2vh auto;
    }

    .tile img {
      height: 20vh;
    }

  }

  @media screen and (max-width: 668px) {
    .tiles {
      display: block;

    }

    .previews-container {
      margin:10vh auto 2vh auto;
    }


    .text-preview {
      display: none;
    }

    .tile img {
      height: 35vh;
    }
  }



  /* footer */
  .foot-container {
    bottom: 0px;
    height: 40vh;
    background-image: linear-gradient(#007cc7, #12232e);
  }

  .footer {
    width: 100%;
    display:flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }

  @media screen and (max-width: 468px) {
    .foot-container {
      height: 60vh;
    }
  }

  .footer div {
    color: #eefbfb;
  }

  .subscribe {
    text-align: center;
    margin: 10px 0px 10px 0px;

  }

  .subscribe h2 {
    margin-bottom: 1rem;
  }

  .subscribe input {

    outline: none;
    -webkit-appearance: none;
    border:none;
    height: 50px;
    width: 300px;
    padding:15px;
    margin: 0px 5px;
    border-radius: 5px;
  }

  @media screen and (max-width: 425px) {
    .subscribe input {
      margin-bottom:1rem;
    }
  }
  .subscribe button {
    color: #eefbfb;
    background:#4da8da;
    border:none;
    border-radius: 5px;
    padding:px;
    width: 100px;
    height: 50px;
    margin: 0px 5px;
  }



  .social  {
    margin-top:3rem;
    text-align: center;
    height: 40px;

  }

  .social img {
    width: auto;
    height: 100%;
    object-fit: cover;
    margin: 10px 5px;
  }

  .social img:hover {
    opacity: .7;
    transition: .25s;
  }

  .container {
    width: 100%;
    background: #f7f7f7 ;
  }

  .copyright-info {
    padding:0px 0px 5px 0px;
    bottom: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    background:#12232e;
    color: rgba(117, 117, 117, 0.664);
  }
