@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    height:10vh;
    width: 100%;
    margin:0;
    top:0;
    position: fixed;
    background: ;
    letter-spacing: 3px;
    box-shadow: 0 4px 2px -2px rgb(199, 198, 198);

}

.burger {

}

.line {

}



.nav-links {
    margin: 0;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content:center;
    align-items: center;
}

.nav-links li {
    margin: 0px 20px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(63, 63, 63);
    transition: .5s;
}

.nav-links li a:hover {
    color: rgb(145, 145, 145);

}
