.review-container {
    margin:13vh auto 3rem auto;
    background:re;
    height: 100%;
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: ;

}

#title {
    font-size: 3rem;
}

.article-info {
    font-weight: light;
    margin: 1.5rem 0px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    background:;
    display:flex;
    color: rgb(172, 172, 172);

}

.article-info p {
    margin: 0px 5px
}

.author a {
    color:#007cc7;
    text-decoration: none;
}

.review-img {
    width: 60%;
    margin-top: 1rem;
    padding: none;
}

.review-img img {
    height: auto;
    object-fit: cover;
    width: 100%;

}

.article {
    margin: 0rem 0rem;
    width: 768px;
    line-height: 1.6;
    background-color: ;
}

.article p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin:1rem 0rem;
}
